#container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 16px;
    background-color: #343A40;
}
.moviesearchbackground{
    background-color: #343A40;
     position: fixed;
     width: 100%;
     height: 100%;
}
.cards{
    width: 150px;
    max-width: 300px;
    margin: 16px;
}
.cards2{
    width: 80%;
    margin: 5px 40px;
}

.card-body{
    background-color: #E9ECEF;
}
.movieTtitle{
    color: white;
    position: relative;
    transform: translate(5%, 180%);
    overflow: scroll;
    white-space: nowrap;
    z-index: 1;
    width: 135px;
}

