#_container{
    display: flex;
    background-color: #343A40;
    width: fit-content;
}
.indiana-scroll-container--hide-scrollbars{
    overflow: auto !important;
}
._cards{
    width: 150px;
}

.card-body{
    background-color: #E9ECEF;
}
._cardList{
    margin: 5px 10px;
}

._cards p{
    color: black;
}

.bg-dark{
    color: white;
    margin: 0;
    padding-left: 20px;
    padding-top: 20px;
}
.sections{
    margin-bottom: 55px;
}

